<h1>Step 1 of 4</h1>

<br>

<div class="row">
	<div class="col-sm-9">
	    <!-- Nav tabs -->
	    <ul class="nav nav-tabs" role="tablist">
	      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Billing</a></li>
	      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
	      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
	      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
	    </ul>

	    <!-- Tab panes -->
	    <div class="tab-content container-fluid">
	      <div role="tabpanel" class="tab-pane fade in active" id="home">
	      	<div class="row">
	      		<div class="col-md-12 panel-group well">
	      			<br>
	      			<div class="col-md-3">
		  			  <div class="panel panel-info">
		  			  	<div class="panel-heading" style="text-align: center"><h3>Basic Plan</h3></div>
		  			  	<div class="panel-body">
		  			  		<h1 style="text-align: center">20 US$/mes</h1>
		  			  		<br>
		  			  		<ul class="list-group">
							  <li class="list-group-item"><span class="badge">1</span> Companies</li>
							  <li class="list-group-item"><span class="badge">1</span> Greenhouses</li> 
							  <li class="list-group-item"><span class="badge">1</span> Users</li> 
							  <li class="list-group-item"> Aplicaciones<span class="fa fa-times pull-right"></span></li>
							  <li class="list-group-item"> Riegos<span class="fa fa-times pull-right"></span></li>
							  <li class="list-group-item"> Cosechas<span class="fa fa-times pull-right"></span></li>
							  <li class="list-group-item"> Selecciones<span class="fa fa-times pull-right"></span></li>
							  <li class="list-group-item"> Ventas<span class="fa fa-times pull-right"></span></li> 
							  <li class="list-group-item"> Asistencias<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Listas de Raya<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Gastos<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Compras de Quimicos<span class="fa fa-times pull-right"></span></li>
							  <li class="list-group-item"> Documentos<span class="fa fa-check pull-right"></span></li> 
							  <li class="list-group-item"> Proveedores<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Reportes<span class="fa fa-check pull-right"></span></li>
							</ul>
		  			  	</div>
			  			<div class="panel-footer" style="text-align: center">
						    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="ZHHEVRZHG9JHA">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
							<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
							</form>
						</div>
				      </div>
				    </div>
				    <div class="col-md-3 col-md-offset-1">
			      	  <div class="panel panel-primary">
		  			  	<div class="panel-heading" style="text-align: center"><h3>Professional Plan</h3></div>
		  			  	<div class="panel-body">
		  			  		<h1 style="text-align: center">40 US$/mes</h1>
		  			  		<br>
		  			  		<ul class="list-group">
							  <li class="list-group-item"><span class="badge">1</span> Companies</li>
							  <li class="list-group-item"><span class="badge">5</span> Greenhouses</li> 
							  <li class="list-group-item"><span class="badge">3</span> Users</li> 
							  <li class="list-group-item"> Aplicaciones<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Riegos<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Cosechas<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Selecciones<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Ventas<span class="fa fa-check pull-right"></span></li> 
							  <li class="list-group-item"> Asistencias<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Listas de Raya<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Gastos<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Compras de Quimicos<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Documentos<span class="fa fa-check pull-right"></span></li> 
							  <li class="list-group-item"> Proveedores<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Reportes<span class="fa fa-check pull-right"></span></li>
							</ul>
		  			  	</div>
			  				<div class="panel-footer" style="text-align: center">
						      	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="ZHHEVRZHG9JHA">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
								<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
								</form>
						    </div>
				      </div>
				    </div>
				    <div class="col-md-3 col-md-offset-1">
			      	  <div class="panel panel-success">
		  			  	<div class="panel-heading" style="text-align: center"><h3>Business Plan</h3></div>
		  			  	<div class="panel-body">
		  			  		<h1 style="text-align: center">80 US$/mes</h1>
		  			  		<br>
		  			  		<ul class="list-group">
							  <li class="list-group-item"><span class="badge">5</span> Companies</li>
							  <li class="list-group-item"><span class="badge">15</span> Greenhouses</li>
							  <li class="list-group-item"><span class="badge">Unlimited</span> Users</li> 
							  <li class="list-group-item"> Aplicaciones<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Riegos<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Cosechas<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Selecciones<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Ventas<span class="fa fa-check pull-right"></span></li> 
							  <li class="list-group-item"> Asistencias<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Listas de Raya<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Gastos<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Compras de Quimicos<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Documentos<span class="fa fa-check pull-right"></span></li> 
							  <li class="list-group-item"> Proveedores<span class="fa fa-check pull-right"></span></li>
							  <li class="list-group-item"> Reportes<span class="fa fa-check pull-right"></span></li>
							</ul>
		  			  	</div>
			  				<div class="panel-footer" style="text-align: center">
						      	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="ZHHEVRZHG9JHA">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
								<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
								</form>
						    </div>
				      </div>
				    </div>
			    </div>
		    </div>
	      </div>
	      <div role="tabpanel" class="tab-pane fade in" id="profile">Second tab...</div>
	      <div role="tabpanel" class="tab-pane fade in" id="messages">Third tab...</div>
	      <div role="tabpanel" class="tab-pane fade in" id="settings">Fourth tab...</div>
	    </div>
	</div>
</div>
